<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trent.sleepapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <user-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserActivity">

        </activity>
        <activity android:name=".pvt.PVTHome" />
        <activity android:name=".pvt.PVT" />
        <activity android:name=".pvt.RunTest" />
        <activity android:name=".PAMActivity" />
        <activity
            android:name=".JournalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventLog" />
        <activity android:name=".AlarmActivity" />

        <service android:name=".AlarmReceiver" />
        <service android:name=".AccLogService" />
        <service android:name=".LightLogService" />
        <activity android:name=".LeedsActivity" />
        <activity android:name=".PanasActivity" />
        <activity android:name=".SSSActivity"></activity>
    </application>

</manifest>